node_modules
*.sw?
typings/
tmp/
*.ts.new
temp/
projects/
packaged
gh-pages
package-lock.json
.DS_Store
built/sim-strings.json
built/sim.d.ts
built/sim.js
built/sim.webmanifest
built/target-strings.json
built/target.js
built/target.json
built/targetlight.json
built/theme.json
built/web/blockly.css
built/web/rtlblockly.css
built/web/rtlsemantic.css
built/web/semantic.css
libs/core/built/debug/binary.js
libs/core/built/pxt-core.d.ts
libs/core/built/pxt-helpers.ts
.DS_Store
