/* Import all components */
@import 'pxtsemantic';
@import 'pxt';
@import 'blockly-toolbox';
@import 'themes/default/globals/site.variables';
@import 'themes/pxt/globals/site.variables';
@import 'site/globals/site.variables';

/* Reference import */
@import (reference) "semantic.less";

/*******************************
    Add your custom CSS here
*******************************/

.ui.modal.hintdialog img, .tutorialsegment .tutorialmessage img  {
    margin-left: 1em;
    margin-right: unset;
}
.ui.modal, .tutorialsegment {
    font-family: @bodyFont;
}

#tutorialcard strong { /* cheeky reporter block styling! put a circle whenever anyone **s something*/
    font-weight: normal;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    border: 2px solid #4ebed7;
    border-radius: 1em;
    background: white;
    padding: 0px 2px;
    margin-right: 2px;
    display: inline-block;
    text-align: center;
    min-width: 2.5em;
}
.tutorialmessage .content p {
    margin-bottom: .8em;
}

.projectsdialog .getting-started-segment {
    /* for some reason the banner image leaves a 1px gap*/
    margin-left: -2px;
    margin-right: -2px;
}

#tutorialcard .ui.tutorialsegment .avatar-image {
    background-image: data-uri("../docs/static/avatar.svg");
}

/** let people put #left-icon  in the markdown 
and automatically float left*/
img[src*='#left-icon'] {
    padding: 6px;
    float: left;
    height: 5em;
}

/** let people put #right-icon  in the markdown 
and automatically float right*/
img[src*='#right-icon'] {
    padding: 6px;
    float: right;
    height: 5em;
}

/** let people put #center  in the markdown centers the image*/
img[src*='#center'] {
    margin-left: auto;
    margin-right: auto;
}

#downloadArea {
    display: none;
}
#projectNameArea {
    margin-left: 1em;
}

/* Open Sans font */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../docs/static/fonts/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../docs/static/fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../docs/static/fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../docs/static/fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../docs/static/fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../docs/static/fonts/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

.ui.item.logo .name {
    font-size: 20px;
    font-family: @headerFont;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
}

.ui.page {
    font-family: @bodyFont;
}

.simtoolbar .ui.button,
.ui.button.play-button,
.ui.button.restart-button,
.ui.button.debug-button,
.ui.button.collapse-button,
.ui.button.collapsed-button {
    &:extend(.ui.grey.button all);
}


.menubar .ui.menu.fixed .item.editor-menuitem .ui.grid,
.menubar .ui.menu.fixed .ui.item.editor-menuitem .item {
    border-radius: 0.2rem !important;
}

.projectsdialog .getting-started-segment {
    background-position-y: center;
}

.projectsdialog .ui.card:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.ui.embed {
    min-height: ~"calc(100vh - 220px)" !important; /* simulatorMinHeight*/
    min-width: 300px !important;
}
  /* floating simulator height - review aspect ratio thing*/  
 

#simulators .ui.embed .icon.xicon::after {
    border-radius: 12px;
}

#simulators .ui.embed .icon.xicon::before {
    top: 33%
}

.ui.primary.button.download-button {
    background-color: @orange;
}

.simtoolbar .ui.button.icon, #editortools .ui.button.editortools-btn {
    background-color: @teal;
}

#homescreen .ui.button.approve {
    background-color: @pink;
}
#editortools .ui.button.hw-button {
    background-color: darken(desaturate(@orange, 20%), 10%);
}

#simulator .ui.button.play-button .icon.play {
    color: @white!important;
}


#homemenu .ui.item, #mainmenu .ui.item {
    color: @white;
}


#simulators .grayscale  {
   
    /* dont go grey when it stops - looks bad*/
    filter: none !important;
    
}


#filelist .simtoolbar {
    z-index: 99;
    pointer-events: none; // prevent the toolbar from eating clicks on the parameters button
    button {
        pointer-events: all;
    }
}
@media only screen and (max-width: 991px) {
#root:not(.fullscreensim) #filelist .simtoolbar {
    // floating simulator    
    position: absolute;
        right: 0px;
        bottom: 10px;
        margin: 0px;
}

}



/* Mobile */
@media only screen and (max-width: @largestMobileScreen) {

    #filelist {
        display: flex;
        flex-direction: column;
    }
 
    .editorFloat {
        .ui.embed  { // jscad editor dimension on mobile
            /*top: mobile view for simulator */ 
         
            position: fixed;
            padding-bottom: 12px !important;
            bottom: 2em;
            min-height: 400px !important;
         
            min-width: 600px !important;
            transform: translate(-300px, 60px) scale(0.5);
         
        }
      
    }
    .fullscreensim {

        .ui.embed { // jscad editor dimension on mobile
             /*top: full screen simulator (sharing, etc) */ 
         
            position: fixed;
            padding-bottom: 12px !important;
            bottom: 0px;
            min-height: 400px !important;
            transform: unset;
        }  
    }
}

/* Tablet */
@media only screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {

    #filelist {
        display: flex;
        flex-direction: column;
    }
    .simtoolbar {
        z-index: 99;
    }
    
    .editorFloat { 
        .ui.embed {
            /*top: mobile view for simulator */ 
            position: fixed;
            bottom: 0px;
            padding-bottom: 12px !important;
            margin-left: 42px !important;
            min-height: 400px !important;
         
            min-width: 600px !important;
            transform: translate(-300px, 60px) scale(0.5);
         
            //transform: translate(-120px,80px) scale(.5);
        }
    
    }
    /** sharing page*/
    .simView .simframe.ui.embed {
        transform: unset;
    }

    .fullscreensim {
        .ui.embed { // jscad editor dimensions on tablet
            /*top: full screen and sharing*/
            position: fixed;
            bottom: 0px;
            padding-bottom: 12px !important;
            margin-left: 42px !important;
            min-height: 400px !important;
            
            transform: unset;
        }
    }
}

/* Small Monitor */
@media only screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
}

/* Large Monitor */
@media only screen and (min-width: @largeMonitorBreakpoint) {
}

@media only screen and (max-width: @largestTabletScreen) {
    .simView #boardview {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    #simulators .ui.embed .icon.xicon::before {
        top: 50%
    }
}