:root {
    --bodyColor: #ffffff;
    --primary: #4ebed7;
    --primary-active: #66d1e9; /*review - match this to plater*/
    --background: #2b354f;
    --modal-background: #445173aa;
}

body {
  color: var(--bodyColor) !important;
}

button {
    outline: 0px !important;
}
.btn-primary {
    background-color: var(--primary);
    border: 0px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--primary-active);
    border: 0px;
    box-shadow: 
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle  {
    background-color:var(--primary-active);
    border: 0px;
}
.button-download, .printwithbuildbee {
    height: 40px;
}
.printwithbuildbee {
    width: 120px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.button-download {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.simulator-container {
  background-color: var(--background);
  height: 100vh; /* take up the whole iframe*/
  width: 100vw;
}
.jscad-container {
  height: calc(100vh - 2em); /* take up the whole iframe*/
  width: 100vw;
}

.printwithbuildbeecontainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.showParameterForm {
  position: fixed;
  bottom: 3em;
  right: 0.5em;
}
.showParameterForm .openParameterFormButton {
  border: 3px solid var(--bodyColor);
  background-color: var(--background);
  border-radius: 6em;
  height: 6em;
  width: 6em;
  outline: 0px !important;
}
.showParameterForm .openParameterFormButton svg {
  height: 80%;
  width: 80%;
}

.parameterDivContainer {
    border-radius: 2em;
    position: fixed;
    display: block;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vw;
    background: --var(--modal-background);


}
.parameterDivContainerMessage {
    display: block;
}
.closeParameterFormButton {
    border: 3px solid var(--bodyColor);
    border-radius: 2em;
    background-color: transparent;
    color: var(--bodyColor);
    width: 2em;
    height: 2em;
    font-size: 1em;
}

.paramaterDivContainerTitle {
    display: flex;
    flex: row;
    align-items: center;
    margin-bottom: 1em;    
}
.paramaterDivContainerTitle h3 {
    flex-grow: 1;
}

.parameterDivContainer {
    display: none;
    padding: 1em;

}

/* styling the form itself */
.parameterDiv {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end start;
  padding: 0 .5em;

}
.parameterDiv label, .parameterDiv input {
    padding: 3px;
}